[user]
	email = LucDachary@users.noreply.github.com
	name = Luc Dachary
	signingkey = /home/luc/.ssh/id_ed25519.pub
[gpg]
	format = ssh

[push]
	default = simple
[core]
	excludesfile = /home/luc/.gitignore_global
[pull]
    ; see https://git-scm.com/docs/git-config#Documentation/git-config.txt-pullrebase
	rebase = merges

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
