[user]
	email = LucDachary@users.noreply.github.com
	name = Luc Dachary
	signingkey = ~/.ssh/github_signing_key.pub
[gpg]
	format = ssh

[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[pull]
    ; see https://git-scm.com/docs/git-config#Documentation/git-config.txt-pullrebase
	; true to rebase instead of merge
	rebase = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
